.account {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  flex-direction: column;
  /* background: url("../../assets/bg-header.jpg") no-repeat center; */
}

.closeIcon {
  position: relative;
  align-self: flex-end;
}

.closeIcon img {
  position: absolute;
}
