.register {
  width: 55%;
  height: 55%;
  background-color: #6eaf4b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("../../../assets/bg-header.jpg") no-repeat center;
}

.inputs {
  width: 50%;
}

.register img {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.register img:hover {
  transform: scale(1.1) rotate(180deg);
  transition: all 1s linear;
}

.loginBtn button {
  font-family: jostRegular;
  width: 155px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #466a32;
  outline: none;
  border-color: #466a32;
  color: #ffffff;
  font-size: 17px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}
.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 34px;
}
.loginBtn .registerBtn {
  background-color: #699551;
  font-family: jostBold;
  transform: scale(1.1);
}
.loginBtn .registerBtn:hover {
  background-color: #699551;
  font-family: jostBold;
  transform: scale(1.1);
}

.loginBtn button:hover {
  background-color: #699551;
  font-family: jostBold;
  transform: scale(1.1);
  color: #fff;
}

.loginBtn .loginBtnn {
  background-color: #fff;
  color: #466a32;
}
